/* .App{
  min-height: 100vh;
  /* position: relative; */
  /* background-color: beige; */
/* } */ 

.App{
  width: 100%;
  min-height: 100vh;
  position:relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}
@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
video
  {
    width: 40%;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    border: 5px solid rgb(114, 18, 224);
    
  }
button{
  appearance: none;
  border: none;
  outline: none;
   padding: 8px 16px;
   background-image: linear-gradient(to right,#936af5 50%,#FF4F84 50%); 
   background-position: 0%;
   background-size: 200%;
   color:#FFF;
   font-size: 24px;
   font-weight: 700;
   transition: 0.4s;
   cursor: pointer;
}

button:hover{
  background-position: 100%;
  border: 2px solid #104F55;
  background-color: rgba(365,365,365,0.5);
  cursor: pointer;
  color: #104F55;
  opacity: .8;
  transition: .3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* button{
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 50px;
  height: 10px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  opacity: .5;
  top: 0vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: relative;
  transition: .3s;
  padding: 8px 16px;
}

button:hover{
  border: 2px solid #104F55;
  background-color: rgba(365,365,365,0.5);
  cursor: pointer;
  color: #104F55;
  opacity: .8;
  transition: .3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.photoTaken{
  border-radius: 10px;
  border: 5px solid rgb(114, 18, 224);
}
.Icon{
  float: right
}
.navbarTitle{
  width: 100%;
  /* textalign: center; */
  font-size: 2.75rem;
  /* background-color: #FFF; */
  /* background-color: aqua; */
  float:left;
  font-family: 'Alegreya Sans', sans-serif;
}
.navbar{
  /* align-items: center; */
  width: 100%;
}
@media screen and (max-width: 600px)
{
  .navbarTitle{
    width: 100%;
    /* textalign: center; */
    font-size: 1.35rem;
    /* background-color: #FFF; */
    /* background-color: aqua; */
    float:left;
    font-family: 'Alegreya Sans', sans-serif;
  }
  .navbar{
    /* align-items: center; */
    width: 100%;
  }

}